
.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
.coq-native/

/.merlin
/.coqdeps.d
/Makefile.coq
/Makefile.coq.conf

