*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.cmt
*.cmti
*.glob
*.native
*.o
*.d
*.vio
*.vo
*.vos
*.vok
.coq-native

src/aac.ml
.lia.cache
.merlin
Makefile.coq
Makefile.coq.conf
META.coq-aac-tactics
_build
docs/
